#loading {
    overflow: hidden;
    position: fixed;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #eaeaeaf4;
    animation-name: load;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
  
      p {
        width: 250px;
        font-weight: 900;
        color: #5c5c5c;
        margin: 200px auto 10px auto;
        font-size: 3rem;
      }
      
      i {
        color: #5c5c5c;
        font-size: 5rem;
      }
  }
  
  @keyframes load {
    0% {
      height: 100%;
      opacity: 1;
    }
  
    50% {
      opacity: 0.9;
    }
    100% {
      height: 0px;
      opacity: 0;
    }
  }